.navbar.navbar-inverse.navbar-fixed-top
	.container-fluid
		.navbar-header 
			a.navbar-brand BigBoom
				
		ul.nav.navbar-nav
			li
				a(href="/") Home
			li.dropdown
				a.dropdown-toggle(href="#" data-toggle="dropdown") Fibonacci
					span.caret
				ul.dropdown-menu(aria-labelledby="drop1")
					li 
						a(href="/fibonacci") learn about ...
					li.divider(role="separator")
					li  
						a(href="/fibonacci/calculate") try yourself
				//了解斐波那契、算一算（比赛前台后台一起算 显示时间）
			li
				a.dropdown-toggle(href="#" data-toggle="dropdown") 了不起的计算器
					span.caret
				ul.dropdown-menu
					li
						a(href="#") basic
					li
						a(href="#") professional
				//基本计算器、科学计算器
			li
				a.dropdown-toggle(href="#" data-toggle="dropdown") 好玩的排序
					span.caret
				ul.dropdown-menu
					li
						a(href="#") To Be Continue
				//各种算法排序演示